$primary: #13d22e;
$secondary: #5b4b4c;



$product-border-color: #dee2e6;
$product-border-color-hover: $primary;
$tab-content-color: $product-border-color;

$customer-custom-tab-nav-color: #ececec;

$customer-dashboard-heading-color: #6d6f71;


$btn-border-radius: 0;

$rating-star-filled-color: #ffc805;
$section-horizontal-space: 6rem;

$breadcrumb-bg: transparent;

$layered-navigation-border-color: $product-border-color;

$favourite-icon-color: $product-border-color;
$favourite-icon-color-hover: rgba(231, 0, 0, 0.36);
$favourite-icon-color-focus: red;

$review-button-color: #2f2d2e;
$delivery-button-color: $primary;

$navtab-link-color: #fff;
$nav-table-header-color: #d8d6d7;
$nav-table-row-color: #fef8f8;
$rating-star-filled-color: #ffd902;


//$enable-rounded: false;

$input-border-radius: 1;
$input-focus-box-shadow: none;
$input-focus-border-color: #999;


$product-zoom: .99;

$tab-content-border: $product-border-color;
$input-border-radius-sm: none;
$facebook-icon-color: #3B5998;
$google-plus-icon-color: #d34836;

$btn-primary-bg: $primary;
$btn-primary-color: #fff;

$gray-lighter: #ccc;
$gray-light: #ccc;
$white: #fff;
$dark: #343a40;
$gray:  #6c757d;
$green: #70C06F;
