.wishlist {
  font-family: 'Roboto', sans-serif;
  color: $dark;
  letter-spacing: 1px;

  h2 {
    margin: 0 0 26px;
    font-size: 26px;
    text-transform: capitalize;
  }

  .wishlist-content:last-child {
    border: none;
  }
  .wishlist-content {
    padding: 20px 0px;
    border-bottom: 1px solid #ddd;

    img {
      width: 110px;
      height: 110px;
      object-fit: cover;
    }
    h4 {
      text-transform: capitalize;
      font-size: 18px;
      margin-bottom: 10px;
    }
    p {
      margin: 0px;
      font-size: 16px;
      text-transform: capitalize;

      span {
        text-transform: uppercase;
      }
    }
    h5 {
      margin: 0;
      margin-top: 10px;
      font-weight: 600;
      line-height: 21px;
    }
    .wishlist-footer {
      display: flex;
      flex-direction: row;
      text-align: center;

      a {
        font-size: 20px;
        background-color: $white;
        line-height: 50px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
        border-radius: 100%;
        height: 50px;
        width: 50px;
        display: block;
        -webkit-transition: 0.4s all ease-out;
        -moz-transition: 0.4s all ease-out;
        -ms-transition: 0.4s all ease-out;
        -o-transition: 0.4s all ease-out;
        transition: 0.4s all ease-out;

        i {
          -webkit-transition: 0.4s all ease-out;
          -moz-transition: 0.4s all ease-out;
          -ms-transition: 0.4s all ease-out;
          -o-transition: 0.4s all ease-out;
          transition: 0.4s all ease-out;
        }
        &:hover {
          background-color: $primary;

          i {
            color: $white;
          }
        }
      }
      .heart {
        margin-left: 10px;
      }
    }
    .favourite-price {
      .product-price {
        .regular-price {
          font-size: 11pt;
        }
      }
    }
  }
}

.no-items {
  text-align: center;
}